<body>
  <div class="card">
      <!-- Imagen de la empresa dentro de la tarjeta -->
      <div class="card-img">
          <img src="https://i.imgur.com/7dwBVWM.jpg" alt="Logo de la empresa">
      </div>

      <div class="card-header">
          Solicitud Denegada <br>Compra de Terreno
      </div>

      <div class="card-body">
          <div class="email-content">
              <p>Estimado/a [Nombre del destinatario],</p>
              <p>Lamentamos informarle que su solicitud para la compra de un terreno ha sido denegada. Agradecemos su interés y le invitamos a que consulte otras oportunidades disponibles.</p>
              <p>No dude en contactarnos si tiene alguna pregunta o necesita más información.</p>
              <hr>
              <p>Atentamente,</p>
              <p>El equipo de Land Manager S.A</p>
          </div>
      </div>
      <div class="card-footer">
          Para más detalles, por favor contacte con nuestro equipo de soporte técnico.
      </div>
      <div class="email-footer">
          <p>Ha recibido este correo electrónico porque está registrado en nuestra lista de contactos de adquisición de terrenos o suscrito a nuestro boletín informativo.</p>
          <p>© 2024 Land Manager Empresa de Gestión de Adquisición de Terrenos | Todos los derechos reservados | <a href="#">Política de privacidad</a> | <a href="#">Darse de baja</a></p>
      </div>
  </div>
  


